

{% extends './layout.html' %}

{% block title %} Busqueda de factura {% endblock %}

{% block css%} <link rel="stylesheet" href="{{ url_for('static',filename='css/facturas-busqueda.css') }}"> {% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg  pl-5 pr-5">
    <div class="container-fluid">
            <span class="titulo">Busqueda de factura para descargar</span>
            <div> 
                <span>Usuario:<strong> {{data.usuario}}</strong> </span>
                <a href="/salir"><span class="btn btn-danger ml-3 "> Cerrar sesion</span></a>
            </div>
    </div>
</nav>



<div class="busqueda">
    <form action="" method="POST" enctype="multipart/form-data"> 

        <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-auto">
                  <p class="h4"> <strong> Número de tarjeta del cliente </strong></p>
                <input class="form-control" type="number" name="number_target" required>
              </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                </div>
                <div class="col col-lg-4">
                    <button  class="btn btn-primary btn-sm mt-3 mx-5 px-5" type="submit" name="busqueda"> 
                        <h4 class="h6">Buscar <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg> </h4>
                    </button>
                </div>
                <div class="col-md-auto">
                </div>
            </div>
        </div>

        </div>
    </form>
    
</div>


{% endblock %}

{% block js%} {% endblock %}